@media(max-width:600px){

    /* NAVBAR  */

    .rightbar{
        position: absolute;
        display:none;
        background-color: #000000;
        width: 100%;
        gap: 1rem;
        top: 100%;
        padding:10px 15px;

    }
    .rightbar{
        flex-direction: column;
    }
    .navbar{
        padding: 5% 0%;
    }
    .rightbar a{
        width: 100%;
        color: white;
    }
    .leftbar{
        padding-left: 15px;
    }
    .moon{
        position: absolute;
        left: 75%;
        font-size: 20px;
        color: black;
    }
    .bar{
        position: absolute;
        left: 90%;
        font-size: 20px;
        color: black;
        display: block;
    }

    /* END NAV BAR */
    
    .hero{
        flex-direction: column-reverse;
        gap: 2rem;
        margin: 0%;
        max-width: 100%;
    }
    .social{
        display: none;
    }

    /* PROFILE IMAGE */

    .profile img{
        width: 250px;
    }
    .scroll-down{
        left: 125px;
        bottom: 15px;
    }
    .about-details{
        flex-direction: column;
        margin: 0%;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .photo img{
        width: 200px;
    }
    button{
        width: 100%;
    }
    .meta-info{
        margin-top: 1.5rem;
    }
    .meta-span{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px
    }
    .myskill img{
        width: 45px;
    }
    .myskill{
        row-gap: 0.5rem;
        column-gap: 1rem;
        width: 100%;
    }
    .skill{
        /* width:50%; */
        width: 170px;
        height: 25vmin;
        /* padding: 1.5rem; */
    }
}