* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
  font-family: "Poppins", sans-serif;
}

/*  ------------------------- ROOT  ------------------------- */

:root {
  /* --- COLOR --- */

  --hue-color: 280;
  --pri-color: hsl(var(--hue-color), 69%, 61%);
  --white-color: hsl(0, 0%, 100%);
  --h1-color: hsl(var(--hue-color), 8%, 15%);
  --h3-color: hsl(var(--hue-color), 8%, 45%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --hover-color-pink: hsl(var(--hue-color), 57%, 53%);
  --hover-color-white: hsl(0, 0%, 100%);
  --hover-back-color: hsl(var(--hue-color), 67%, 53%);

  /* --- FONT SIZE --- */

  --title-font-size-3: 3rem;
  --h3-font-size-13: 1.3rem;
  --h1-font-size: 2.25rem;
  --anchor-font-size: 18px;
  --small-font-size: 1rem;

  /* FONT WEIGHT */

  --title-font-weight-6: 600;

  /* LINE HEIGHT */

  --title-line-height-4: 4rem;
}

/* -------------------------  Universal CSS -------------------------  */
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--body-color);
}
h1 {
  font-size: var(--title-font-size-3);
  font-weight: var(--title-font-weight-6);
  color: var(--title-color);
  line-height: var(--title-line-height-4);
}
h3 {
  /* color: var(--h3-color); */
  font-size: var(--h3-font-size-13);
}
p {
  color: var(--text-color);
}
a {
  text-decoration: none;
}
/* -------------------------  UNIVERSAL END -----------------------  */

/* ------------------------- NAV SECTION -------------------------  */

.rightbar a {
  text-decoration: none;
  color: var(--pri-color);
  font-weight: var(--title-font-weight-6);
  cursor: pointer;
  font-size: var(--anchor-font-size);
  padding: 5px;
  transition: 0.5s ease-in-out all;
}
.rightbar a:hover {
  background-color: var(--pri-color);
  color: var(--hover-color-white);
  border-radius: 5px;
}
header {
  position: sticky;
  top: 0;
  background-color: var(--white-color);
  z-index: 1;
  box-shadow: 0px -4px 8px gray;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1% 15%;
}
.leftbar {
  font-size: 24px;
}
.rightbar {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation .fa-solid {
  font-size: 1.4rem;
  color: var(--pri-color);
}
.navigation .bar {
  display: none;
}

/* ------------------------- NAV END ----------------------- */

/* ------------------------- MAIN SECTION ------------------------ */

/* ------------------------- HERO ------------------------- */

.hero {
  display: flex;
  margin: 0% 0% 0% 15%;
  gap: 8rem;
  max-width: 935px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* -------------------------  HERO IMAGE SECTION -------------------------  */

.profile img {
  width: 300px;
  background-color: var(--pri-color);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

/* -------------------------  END IMAGE SECTION -------------------------  */

/*  ------------------------- SOCIAL SECTION START  ------------------------- */

.social {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* font-size: 1.5rem; */
  /* padding: 0px 5px; */
}
.social a {
  color: var(--pri-color);
  cursor: pointer;
  transition: 0.5s ease-in-out all;
  /* padding: 5px; */
  height: 40px;
  width: 40px;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
.social a:hover {
  color: var(--hover-color-white);
  transform: scale(1.1);
  background-color: var(--hover-back-color);
  border-radius: 50%;
}
.social a .fa-brands {
  font-size: 1.6rem;
}

/* -------------------------  END SOCIAL SECTION  -------------------------  */

.intro {
  max-width: 320px;
}
.intro h3 {
  margin-top: 0.8rem;
  text-align: justify;
}
.intro p {
  margin-top: 1.5rem;
  padding-bottom: 10px;
}
button {
  padding: 1rem;
  color: var(--white-color);
  border-radius: 0.5rem;
  background-color: var(--pri-color);
  font-weight: 500;
  font-size: 16px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}
button:hover {
  /* transform: translateY(.05rem); */
  background-color: var(--hover-back-color);
}

.scroll-down {
  display: flex;
  position: relative;
  left: 412px;
  bottom: 120px;
  width: 132px; /* ERROR */
}
.scroll-down a {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--pri-color);
  transition: 0.3s;
}
.scroll-down a:hover {
  transform: translateY(0.25rem);
}
.scroll-text {
  font-size: 0.845rem;
  color: var(--title-color);
  font-weight: var(--title-font-weight-6);
  margin-right: 0.25rem;
}
.scroll-down .fa-computer-mouse {
  font-size: 1.5rem;
}

/* ------------------------- END HERO -------------------------  */

/* ------------------------- ABOUT ME -------------------------  */

.about h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--title-font-weight-6);
}
.about {
  text-align: center;
  padding-top: 80px;
  margin-bottom: 70px;
}
.about-details {
  margin: 1% 15%;
  display: flex;
  gap: 8rem;
  text-align: justify;
  justify-content: center;
}
.photo img {
  width: 320px;
  border-radius: 10px;
}
.info {
  max-width: 340px;
}
.meta-info {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  text-align: center;
  margin: 12px 0px 12px 0px;
}
.meta-span span {
  display: flex;
  flex-direction: column;
}
.info-num {
  font-size: 1.5rem;
  font-weight: var(--title-font-weight-6);
  color: var(--title-color);
}
.info-des {
  font-size: 0.875rem;
  color: var(--text-color);
}
#hero {
  height: 100vh;
}
#About {
  height: 100vh;
}

/* ------------------------- END ABOUT ME -------------------------  */

#Skill {
  height: 100vh;
  padding-top: 75px;
}
.skill-title {
  text-align: center;
}
.skill-title h1 {
  font-size: var(--h1-font-size);
}
.myskill img {
  width: 50px;
}
.skill-set {
  display: flex;
  justify-content: center;
}
.myskill {
  margin-top: 3rem;
  display: flex;
  row-gap: 1rem;
  column-gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1070px;
}
.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 240px;
  padding: .5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 4px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ffffff;
}
.skill:hover {
  transform: translateY(-0.135rem);
}
.skill h3 {
  font-size: var(--small-font-size);
}


/* -------------------------- SKILL END ------------------------ */

#Service{
  height: 100vh;
  border: 1px solid red;

}
.service-title{
  margin-top: 5rem;
  text-align: center;
}
.service-offer{
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}
.our-service{
  width: 250px;
  height: 280px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
  padding: 6rem 0 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.our-service h3{
  font-weight: 500;
}
.our-service i{
  font-size: 1.6rem;
  color: var(--pri-color);
}

/* Bottom to top */

.bottom-to-top{
  position: fixed;
  bottom: 0;
  font-size: 1.6rem;
  right: 0;
}
.bottom-to-top i{
  background-color: var(--pri-color);
  color: var(--white-color);
}
.view-more{
  font-size: 0.8rem;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s;
}
.view-more i{
  font-size: 0.8rem;
}
.view-more:hover{
  transform: translateY(0.25rem);
}

/* PROJECT SECTION */

.project-title{
  text-align: center;
  font-size: var(--h1-font-size);
}